@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  color: #211c6a;
}

.container {
  margin: 1rem;
}

.top-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12rem;
  border: 0.1rem solid #e5e1da;
  border-radius: 0.6rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 3rem;
  background: linear-gradient(90deg, rgb(239, 243, 150) 0%, rgb(89, 180, 195) 65%);
}
.top-section .web-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.top-section .web-title .logo-box {
  max-width: 8rem;
}
.top-section .web-title .logo-box img {
  -o-object-fit: cover;
     object-fit: cover;
}
.top-section .web-title .title h1 {
  font-family: "Kalam", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  color: #211c6a;
}
.top-section .navbar {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.top-section .navbar a {
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
  color: #fbf9f1;
}
.top-section .navbar a:hover {
  color: #211c6a;
}
.top-section .navbar .account-manager {
  display: flex;
  gap: 2rem;
}
.top-section .navbar .nav-list {
  display: flex;
  gap: 2rem;
}

.sort-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border: 0.1rem solid #e5e1da;
  border-radius: 0.6rem;
  max-width: 1440px;
  margin-top: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 3rem;
}
.sort-section .filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.sort-section .filter h2 {
  font-size: 1rem;
}

.main-section .add-card {
  display: flex;
  justify-content: center;
  gap: 0.9rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 3rem;
}
.main-section .add-card .title h2 {
  font-size: 1rem;
  color: #211c6a;
}
.main-section .add-card .add-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.9rem;
}
.main-section .add-card .add-container .add-form {
  display: flex;
  gap: 0.9rem;
}
.main-section .add-card .add-container .add-form .primarily-info,
.main-section .add-card .add-container .add-form .secondary-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 0.1rem solid #e5e1da;
  border-radius: 0.4rem;
  padding: 2rem;
}
.main-section .add-card .add-container .add-form .add {
  display: flex;
  flex-direction: column;
}
.main-section .add-card .add-container .add-form input,
.main-section .add-card .add-container .add-form select {
  height: 2rem;
  border: 0.1rem solid #211c6a;
  border-radius: 0.4rem;
  padding: 0.4rem;
  box-shadow: 0.15rem 0.15rem 0.15rem #e5e1da;
  outline: none;
}
.main-section .add-card .add-container .add-form input::-moz-placeholder, .main-section .add-card .add-container .add-form select::-moz-placeholder {
  padding-left: 0.5rem;
}
.main-section .add-card .add-container .add-form input::placeholder,
.main-section .add-card .add-container .add-form select::placeholder {
  padding-left: 0.5rem;
}
.main-section .add-card .add-container .add-form label {
  font-size: 0.85rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
  color: #211c6a;
}
.main-section .add-card .add-button {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.main-section .add-card .add-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 9rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #161a30;
  padding: 0.6rem;
  margin-top: 1rem;
  color: #161a30;
  background: linear-gradient(270deg, rgb(227, 225, 217) 0%, rgb(242, 239, 229) 100%);
}
.main-section .add-card .add-button button:hover {
  cursor: pointer;
  color: #fbf9f1;
  background: linear-gradient(90deg, rgb(49, 48, 77) 0%, rgb(22, 26, 48) 120%);
}
.main-section .add-card .add-button button a {
  text-decoration: none;
  padding: 0.8rem 2rem;
  color: #161a30;
}
.main-section .add-card .add-button button a:hover {
  color: white;
}
.main-section .add-card #statusMessages h1 {
  padding-top: 1rem;
  font-size: 0.85rem;
}
.main-section .add-card .share-tech-description {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.9rem;
}
.main-section .add-card .share-tech-description .share-tech {
  gap: 0.9rem;
  max-width: 40.25rem;
  border: 0.1rem solid #e5e1da;
  border-radius: 0.4rem;
  padding: 2rem;
}
.main-section .add-card .share-tech-description .share-tech p {
  font-size: 0.85rem;
  text-align: justify;
  line-height: 1.2rem;
}
.main-section .add-card .share-tech-description .share-tech p:nth-child(3) {
  border-bottom: 0.1rem solid #e5e1da;
  padding-bottom: 0.5rem;
}
.main-section .add-card .share-tech-description .share-tech p span {
  font-weight: 700;
}
.main-section .add-card .share-tech-description .description-form .add-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 0.1rem solid #e5e1da;
  border-radius: 0.4rem;
  padding: 2rem;
}
.main-section .add-card .share-tech-description .description-form .add-description textarea {
  padding: 0.4rem;
  max-width: 50%;
  height: 6rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  border: 0.1rem solid #211c6a;
  box-shadow: 0.15rem 0.15rem 0.15rem #e5e1da;
  resize: none;
}/*# sourceMappingURL=add-item.css.map */