@use "src/variables";

@use "src/top-section";
@use "src/footer";
@use "src/responsive";

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  color: variables.$dark-blue-text-color;
}

.blur {
  filter: blur(0.4rem);
}

.container {
  margin: 1rem;
}

.sort-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border: 0.1rem solid variables.$grey-text-color;
  border-radius: 0.6rem;
  max-width: 1440px;
  margin-top: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 3rem;

  @include responsive.sm {
    padding: 0rem 2rem;
  }

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    @include responsive.sm {
      gap: 2rem;
    }

    @include responsive.s {
      gap: 0.5rem;
    }

    h2 {
      font-size: 1rem;
    }

    p {
      @include responsive.s {
        font-size: 0.9rem;
      }

      #foundItems {
        font-weight: 700;
      }
    }
  }

  .sort {
    display: flex;
    gap: 3rem;

    select {
      position: relative;
      border-radius: 1rem;
      padding: 0.2rem 0.8rem;
      outline: none;

      @include responsive.sm {
        width: 8rem;
      }
    }
  }
}

.main-section {
  display: flex;
  gap: 0.9rem;
  min-height: 100vh;
  max-width: 1440px;
  border-radius: 0.6rem;
  margin-top: 0.9rem;
  margin-left: auto;
  margin-right: auto;

  @include responsive.sm {
    flex-direction: column;
  }

  .choose-side {
    min-height: 100%;
    min-width: 10.8rem;
    border: 0.1rem solid variables.$grey-text-color;
    border-radius: 0.6rem;
    padding: 2rem 3rem;

    @include responsive.sm {
      min-width: 10rem;
      padding: 2rem 2rem;
    }

    .type-box {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include responsive.sm {
        flex-direction: row;
      }

      .title-description {
        h2 {
          font-size: 1.1rem;
        }
      }

      .title-type {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 1.5rem;
        overflow: hidden;
        transition: all 0.3s ease;

        h3 {
          font-size: 1.1rem;
        }

        .title-wrapper {
          display: flex;
          align-items: center;
          gap: 0.2rem;
          cursor: pointer;

          img {
            width: 0.9rem;
          }

          h3 {
            font-size: 1rem;
          }
        }

        .select-type {
          display: flex;
          gap: 0.5rem;
          padding-left: 0.25rem;

          label {
            font-size: 0.85rem;
          }
        }
      }

      .title-type-active {
        max-height: 8.9rem;
      }
    }
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.9rem;
    border-radius: 1rem;

    .item-card {
      display: flex;
      align-items: center;
      border: 0.1rem solid variables.$grey-text-color;
      border-radius: 0.4rem;
      padding: 1rem 2rem;
      background-color: transparent;
      transition: all 150ms linear;

      @include responsive.xl {
        flex-direction: column;
        align-items: flex-start;
      }

      @include responsive.md {
        align-items: center;
      }

      @include responsive.sm {
        padding: 1rem 1rem;
      }

      &:hover {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
      }

      .left-box {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include responsive.md {
          flex-direction: column;
          align-items: center;
        }

        .image-box {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 12rem;
          border-radius: 1rem;
          overflow: hidden;
          cursor: pointer;

          img {
            object-fit: cover;
          }
        }

        .main-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 2rem;
          width: 70%;
          padding: 1rem;

          .item-title {
            h4 {
              font-size: 1rem;
            }
          }

          .specification-box {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            text-align: left;

            p {
              position: relative;
              font-size: 0.9rem;

              &:first-child::before {
                content: "";
                position: absolute;
                top: 100%;
                display: block;
                width: 10.8rem;
                border-bottom: 0.1rem solid variables.$grey-text-color;
              }

              span {
                font-weight: 700;
              }
            }
          }
        }
      }

      .price-box {
        position: relative;
        width: 15rem;
        height: 100%;
        padding: 1rem;

        &::before {
          content: "";
          position: absolute;
          top: 1rem;
          left: -2rem;
          display: block;
          height: 10rem;
          border-left: 0.1rem solid variables.$grey-text-color;

          @include responsive.xl {
            height: 0;
          }
        }

        .description-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          gap: 0.5rem;
          text-align: left;

          .favorite-price {
            display: flex;
            align-items: center;
            justify-content: space-around;

            p {
              font-size: 1.7rem;
            }

            img {
              width: 1.5rem;
              cursor: pointer;
              transform: translate(0%, -8%);
            }
          }

          #view-btn {
            align-items: center;
            justify-content: center;
            border-radius: 0.2rem;
            border: 0.1rem solid #161a30;
            padding: 0.4rem;
            color: #161a30;
            background: linear-gradient(
              270deg,
              rgba(227, 225, 217, 1) 0%,
              rgba(242, 239, 229, 1) 100%
            );

            &:hover {
              cursor: pointer;
              color: variables.$white-text-color;
              background: linear-gradient(
                90deg,
                rgba(49, 48, 77, 1) 0%,
                rgba(22, 26, 48, 1) 120%
              );
            }
          }
        }
      }

      a {
        display: none;
        font-size: 0.65rem;
        letter-spacing: 0.15rem;
        text-decoration: none;
        color: #161a30;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}
