@use "../src/variables";

@use "../src/top-section";
@use "../src/footer";
@use "../src/responsive";

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  color: variables.$dark-blue-text-color;
}

.container {
  margin: 1rem;
}

.sort-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border: 0.1rem solid variables.$grey-text-color;
  border-radius: 0.6rem;
  max-width: 1440px;
  margin-top: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 3rem;

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    h2 {
      font-size: 1rem;
    }
  }
}

.main-section {
  .card-container {
    display: flex;
    justify-content: center;
    gap: 0.9rem;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    @include responsive.lg {
      flex-direction: column;
      align-items: center;
    }

    .left-side-box {
      display: flex;
      justify-content: center;
      width: 50%;
      gap: 0.9rem;
      border: 0.1rem solid variables.$grey-text-color;
      border-radius: 0.4rem;

      @include responsive.md {
        width: 65%;
      }

      @include responsive.sm {
        width: 80%;
      }

      @include responsive.s {
        width: 100%;
      }

      .image-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        max-width: 100%;

        padding: 2rem;
        overflow: hidden;
        cursor: pointer;

        img {
          object-fit: cover;
        }
      }
    }

    .right-side-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.9rem;
      width: 50%;

      @include responsive.md {
        width: 65%;
      }

      @include responsive.sm {
        width: 80%;
      }

      @include responsive.s {
        width: 100%;
      }

      .remove-description {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
        border: 0.1rem solid variables.$grey-text-color;
        border-radius: 0.4rem;
        padding: 2rem;

        p {
          font-size: 0.85rem;
          text-align: justify;
          line-height: 1.2rem;

          span {
            font-weight: 700;
          }
        }

        .remove-button {
          display: flex;
          justify-content: center;
          gap: 2rem;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            width: 9rem;
            border-radius: 0.4rem;
            border: 0.1rem solid #161a30;
            padding: 0.6rem;
            margin-top: 1rem;
            color: #161a30;
            background: linear-gradient(
              270deg,
              rgba(227, 225, 217, 1) 0%,
              rgba(242, 239, 229, 1) 100%
            );

            &:hover {
              cursor: pointer;
              color: variables.$white-text-color;
              background: linear-gradient(
                90deg,
                rgba(49, 48, 77, 1) 0%,
                rgba(22, 26, 48, 1) 120%
              );
            }
          }
        }

        #statusMessages {
          h1 {
            padding-top: 1rem;
            font-size: 1rem;
            color: green;
          }
        }
      }

      .item-description {
        .specification-box {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          border: 0.1rem solid variables.$grey-text-color;
          border-radius: 0.4rem;
          padding: 2rem;

          h4 {
            padding: 0.5rem 0rem;

            &:nth-last-child(2) {
              border-top: 0.1rem solid variables.$grey-text-color;
              padding-top: 1rem;
            }
          }

          p {
            font-size: 0.85rem;
            text-align: justify;
            line-height: 1.2rem;

            &:nth-child(8) {
              padding-bottom: 0.5rem;

              span {
                font-weight: 700;
              }
            }
          }

          .price-box {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 1rem 0rem;
            border-bottom: 0.1rem solid variables.$grey-text-color;

            p {
              font-size: 1.7rem;
            }

            #addFavorite {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 2rem;
              width: 9rem;
              border-radius: 0.4rem;
              border: 0.1rem solid #161a30;
              padding: 0.6rem;
              color: #161a30;
              background: linear-gradient(
                270deg,
                rgba(227, 225, 217, 1) 0%,
                rgba(242, 239, 229, 1) 100%
              );

              &:hover {
                cursor: pointer;
                color: variables.$white-text-color;
                background: linear-gradient(
                  90deg,
                  rgba(49, 48, 77, 1) 0%,
                  rgba(22, 26, 48, 1) 120%
                );
              }
            }
            // &::before {
            //   content: "";
            //   position: absolute;
            //   top: 3rem;
            //   display: block;
            //   width: 32rem;
            //   border-bottom: 0.1rem solid $grey-text-color;
            // }
          }
        }
      }
    }
  }
}
