$main-color: #92c7cf;
$secondary-color: #aad7d9;
$white-text-color: #fbf9f1;
$grey-text-color: #e5e1da;
$dark-blue-text-color: #211c6a;

$color-white: #ffffff;

$header-background: linear-gradient(
  270deg,
  rgba(146, 199, 207, 1) 0%,
  rgba(170, 215, 217, 1) 100%
);
